<!-- BEGIN_INCLUDE(sftplite:get-folder) -->
    <sftplite:get-folder hostName="localhost" port="22" userName="foo" password="bar" path="/"/>
<!-- END_INCLUDE(sftplite:get-folder) -->
<!-- BEGIN_INCLUDE(sftplite:check-credentials) -->
    <sftplite:check-credentials hostName="localhost" port="22" userName="foo" password="bar"/>
<!-- END_INCLUDE(sftplite:check-credentials) -->
<!-- BEGIN_INCLUDE(sftplite:get-file) -->
    <sftplite:get-file hostName="localhost" port="22" userName="foo" password="bar" filePath="/"/>
<!-- END_INCLUDE(sftplite:get-file) -->
<!-- BEGIN_INCLUDE(sftplite:get-file-content) -->
    <sftplite:get-file-content hostName="localhost" port="22" userName="foo" password="bar" filePath="/"/>
<!-- END_INCLUDE(sftplite:get-file-content) -->
<!-- BEGIN_INCLUDE(sftplite:upload-stream) -->
    <sftplite:upload-stream hostName="localhost" port="22" userName="foo" password="bar" filePath="/foo" fileName="bar.txt"/>
<!-- END_INCLUDE(sftplite:upload-stream) -->
